/*------------- reset css ------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*------------- reset css ------------------*/


body, *{
    font-weight: normal;
    font-size: 14px;
    box-sizing: border-box;
    color: #444;
}

.header{
    color: #fff;
    background-color: #839CAC;
    font-size: 22px;
    line-height: 100px;
    text-align: center;
}

.content{
    height: calc(100vh - 100px);
    width: 100vw;
    background-color: #cddded;
    text-align: center;
    padding-top: 20px;
}

.subTitle{
    font-size: 20px;
    line-height: 40vh;
}
.btnType1{
    border-radius: 4px;
    text-decoration: none;
    border: none;
    background-color: #ffffff;
    width: auto;
    height: 36px;
    cursor: pointer;
}
.btnType1:hover{
    background-color:#FDE494;
}
.btnType2{
    border-radius: 4px;
    text-decoration: none;
    border: none;
    background-color: #cddded;
    width: auto;
    height: 36px;
    cursor: pointer;
}
.btnType2:hover{
    background-color:#FDE494;
}

.input_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #839CAC;
    padding: 22px 0;
    height:100px;
}

.input_wrap input{
    border-radius: 4px;
    border:none;
    width: 200px;
    height: 35px;
    line-height: 33px;
    margin-right: 10px;
}
.content2{
    height: calc(100vh - 100px);
    background-color: #ffffff;
    text-align: center;
    padding-top: 20px;
}


.recod_item{
    display: flex;
    justify-content: space-between;
    width: 290px;
    margin: 10px auto;
}

.recod_wrap{
    margin-bottom: 50px;
}

.recod_item p{
    line-height: 30px;
}
